ul {
    display: flex;
    list-style: none;
    background-color: blueviolet;
}

li.logo {
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
}

li.about {
    cursor: pointer;
    padding-top: 80px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
    color: white;
    font-size: 20px;
    font-weight: bold;
}

li.profile {
    cursor: pointer;
    text-decoration: underline;
    color: white;
    padding-top: 80px;
    padding-bottom:10px;
    padding-right: 20px;
    padding-left: auto;
    font-size: 20px;
    font-weight: bold;
}

.link {
    color: white;
}

#header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-left: 8vh;
}

#header img {
    width: auto;
    max-height: 100%;
    margin-right: 5vh;
    cursor: pointer;
}

#header-row {
    padding-top: 3vh;
    background-color: #451F6F;
    padding-bottom: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#header-navbutton {
  background-color: #7320d1;
  border-radius: 10px;
  color: white;
  border: 1px black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 23px;
  padding: 6px 35px;
  text-align: center;
}

#header-navbutton:disabled {
  pointer-events: none;
}

#header-navbutton:hover {
  color: #451F6F;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#header-navbutton:active {
  box-shadow: none;
  transform: translateY(0);
}