@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
/* :root {
    background-color: #F2F2F2 !important;
    background-attachment: fixed;
} */


#landingpage-container {
    max-height: auto;
    overflow: scroll;
    background-color: #EEE6F3;
    color: white;
    background-attachment: scroll;
    width: 100%;
    overflow-x:hidden;
    overflow-y:hidden;
}

#landingpage-two {
    padding-top: 5vh;
    padding-bottom: 3vh;
    padding-right: 5vh;
    text-align: center;
}

#landingpage-three {
    padding-top: 3vh;
    padding-bottom: 5vh;
    background-color: white;
}

#landingpage-four {
    padding-top: 3vh;
    padding-bottom: 5vh;
    padding-right: 5vh;
    text-align: center;
}

/* #row {
    height: 100px;
} */

#header {
    display: flex;
    align-items: center;
    height: 65px;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    background-color: #451F6F;
    color: #F2F2F2;
    margin: 0;
    padding: 0;
}

#header-2 {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-color: #451F6F;
    align-items: center;
}

#login-button {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #F2F2F2;
    width: 200px;
    height: 50px;
    background: #7151E8;
    border-radius: 13px;
}
#login-button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

#slogan-header {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    color: #F2F2F2;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#F2F2F2;
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url(../../public/nyu.jpg);
    min-height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header-text{
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    color: #451F6F;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: #451F6F;
}

.body-text{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    padding-bottom: 40px;
}

#start-button {
    color: #451F6F;
    background-color: white;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-size: 23px;
    padding: 6px 35px;
    text-align: center;
}
  
#start-buttonn:disabled {
    pointer-events: none;
}
  
#start-button:hover {
    color: white;
    background-color: #451F6F;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-.5px);
}
  
#start-button:active {
    box-shadow: none;
    transform: translateY(0);
}

.image {
    display: flex;
    justify-content: center;
}

#header-navbutton {
  background-color: #7151E8;
  border-radius: 5px;
  color: white;
  border: 1px black;
  cursor: pointer;
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  font-size: 23px;
  padding: 6px 35px;
  text-align: center;
}

#header-navbutton:disabled {
  pointer-events: none;
}

#header-navbutton:hover {
  color: #451F6F;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

#header-navbutton:active {
  box-shadow: none;
  transform: translateY(0);
}