@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');
/* :root {
    background-color: #F2F2F2 !important;
    background-attachment: fixed;
} */


#container {
    max-height: auto;
    overflow: scroll;
    background: rgb(51,6,98);
    background: linear-gradient(180deg, rgba(51,6,98,1) 10%, rgba(137,81,174,1) 30%, rgba(242,242,242,1) 60%);
    background-attachment: scroll;

}

/* #row {
    height: 100px;
} */

#header {
    display: flex;
    align-items: center;
    height: 65px;
   
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    background-color: #451F6F;
    color: #F2F2F2;
}

#header-2 {
    display: flex;
    justify-content: center;
    background-color: #451F6F;
    align-items: center;
}

#login-button {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #F2F2F2;
    width: 200px;
    height: 50px;


    background: #7151E8;
    border-radius: 13px;
}
#login-button:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

#slogan-header {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    color: #F2F2F2;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color:#F2F2F2;
    height: 600px;
}

.header-text{
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    color: #451F6F;
}

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    color: #451F6F;
}

.body-text{
    font-family: 'Raleway', sans-serif;
    font-size: 28px;
    padding-bottom: 40px;
}

#start-button{
    background: #7151E8;
    height: 50px;
    width: 500px;
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    border-radius: 13px;
}

#start-button:focus,#start-button:active {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
}

.image {
    display: flex;
    justify-content: center;
}