@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400&display=swap');

#login-container {
    max-height: 100vh;
    height: 100vh;
    background: rgb(51,6,98);
    background: linear-gradient(360deg, rgba(51,6,98,1) 10%, rgba(137,81,174,1) 30%, rgba(242,242,242,1) 100%);
}

#login-header {
    display: flex;
    align-items: center;
    height: 65px;
   
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    background-color: #f8f6fe;
    color: #451F6F;
}
#form-section{
    font-family: 'Raleway', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

#email-form {
    margin-bottom: 20px;
    width: 600px;
    font-size: large;
}

#email-input {
    border-radius: 12px;
}

#password-form {
    margin-bottom: 20px;
    font-size: large;
}

#password-input {
    border-radius: 12px;
}

#button {
    font-family: 'Raleway', sans-serif;
    font-size: 25px;
    color: #F2F2F2;
    width: 600px;
    height: 50px;


    background: #7151E8;
    border-radius: 13px;
}
#btn:focus {
    outline: none;
    box-shadow: none;
    border: none;
}

#img-section{
    display: flex;
    justify-content: center;
    align-items: center;

}

#title{
    font-size: 40px;
    padding-bottom: 25px;
}

#form {
    background-color: transparent;
}